<div class="container">



<h2 class="text-primary">Thanks for shopping with us!</h2>
<hr>
<div class="col-md-6">
<img src="https://s3.amazonaws.com/tts-test-upload/static+files/Welcome_WomenandWine_1_compressed.png" class="img-responsive">
</div>
<div class="col-md-6">
<p class="text-primary">Let's review your order:</p>

<% @order.order_items.each do |k,v| %>
  <ul>
    <li><%= Product.find(k).title %>, <%= v %></li>
  </ul>
<% end %>

<p>
  <strong>Order Total:</strong> <%= number_to_currency @order.grand_total %>
</p>
</div>
</div>
<hr>