<div class="container-full">
<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1"></div>
      <div class="hero">
        <hgroup>
            <h1>Diversity Photos</h1>        
            <h3>Unfiltered and Authentic</h3>
        </hgroup>
        <!-- will add button later -->
        <!-- <a class="btn btn-hero btn-lg" href="#features" role="button">See all features</a> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2"></div>
      <div class="hero">        
        <hgroup>
            <h1>Ethnic and Gender Diversity</h1>        
            <!-- <h3>Get start your next awesome project</h3> -->
        </hgroup>       
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
    <div class="item slides">
      <div class="slide-3"></div>
      <div class="hero">        
        <hgroup>
            <h1>Spirituality and Religious Diversity</h1>        
            <!-- <h3>Get start your next awesome project</h3> -->
        </hgroup>
        <!-- will add button later -->
        <!-- <button class="btn btn-hero btn-lg" role="button">See all features</button> -->
      </div>
    </div>
  </div> 
</div>



<br>
<hr>
<!-- image gallery -->
<div class='container-fluid'>
	<div class="gal">
	
		<% @products.each do |product| %>

		      <tr>
            <td><%= link_to (image_tag (product.watermarked_image), class: "style_image"), product %></td>
		      </tr>
		<% end %>


	</div>
</div>
<hr>
<div class="container">
<%= paginate @products %>
</div>
<!--  end image gallery section -->
<br />
<!-- All Features -->
<div class="container-full">
<section>
    <div class="row">
      <div class="container-full">
      <div class="overlay2"></div>
      <div class="section-image">
        <!-- <img src="https://s3.amazonaws.com/tts-test-upload/static+files/IMG_7132.jpg" class="img-responsive"> -->
        <h1 class="text-center section-text">Check Out The Features</h1>
      </div>
    <!-- </div> -->
    <!-- </div> -->
      <!-- <div class="section-text">
        <h1>Features</h1>
      </div> -->
    </div>
</section>
<div style="background: black;">
<h1 class="text-default text-center"></h1>
</div>
<div class="container" id="features">
  <div class="iconcontainer">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-user"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Defined User Roles</h4>
            <h5 class="text-center">
              This site includes user roles and priviledges.
            </h5>
            <hr>
              <ul class="text-center">
                  <h5>Admin</h5>
                  <hr>
                  <h5>Sellers (demo - coming soon)</h5>
                  <hr>
                  <h5>Guest/Buyers (default)</h5>
              </ul>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6  tour-step tour-step-three">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-tasks"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Fullstack</h4>
            <h5 class="text-center">
              See my frontend and checkout my backend.
            </h5>
            <hr>
              <div class="text-center">
                  <h5>HTML/CSS/Bootstrap</h5>
                  <h5>Ruby on Rails</h5>
                  <h5>JavaScript/JQuery</h5>
                  <h5>AWS S3 API</h5>
                  <h5>Github Version Control</h5>                
              </div>
            
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-shopping-cart"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Products</h4>
            <p>
              Instantly upload products, either as an Admin or Seller. Get paid when your items sell. (Feature Coming Soon)
            </p>
            
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="iconbox">
          <div class="iconbox-icon">
            <span class="glyphicon glyphicon-cloud-upload"></span>
          </div>
          <div class="featureinfo">
            <h4 class="text-center">Realtime Uploads</h4>
            <p>
              Securely store your images in an AWS S3 bucket. View, Edit, and Delete images from your own personalizied bucket folder. 1TB Free cloud Storage.
            </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>





