<h1>All Images in <%= @category.name %></h1>
<hr>
<!-- image gallery -->
<div>
	<div class="gal">
	
		<% @products.each do |product| %>
		      <tr>
            <td><%= link_to (image_tag (product.watermarked_image)), product %></td>
		      </tr>
		<% end %>

	</div>
</div>
<hr>

<!--  end image gallery section -->