<div class="container">
<h1>All Images in the <em><%= @category.name %></em> Category</h1>
<hr>
<!-- image gallery -->
<div>
	<div class="gal">
	
		<% @products.each do |product| %>
		      <tr>
            <td><%= link_to (image_tag (product.watermarked_image)), product %></td>
		      </tr>
		<% end %>

	</div>
</div>
<hr>
</div>
<!--  end image gallery section -->