<div class="container">
<div class="col-md-1"></div>
<div class="col-md-10">
	<div class="panel">
<h1 class="text-primary">Upload Photos to The Cloud</h1>
<hr>
<%= render 'form', upload: @upload %>
<hr>
<%= link_to '< Go Back', uploads_path %>
</div>
</div>
<div class="col-md-1"></div>
</div>