 <table class="table">
              <thead>
                <tr>
                  <th>Seller</th>
                  
                  <th colspan="3"></th>
                </tr>
              </thead>
              <tbody>
                <% @sellers.each do |s| %>
                  <tr>
                    <td><%= s.name %></td>
                    
                  
                    

                    
                  </tr>
                <% end %>
              </tbody>
            </table>